* {
    font-family: REM, sans-serif;
    font-weight: 600;
}

.ser {
    transition: 0.2s ease-in-out;
}

.ser:hover {
    background-color: #eb580c !important;
    color: white;
    border-color: #eb580c;
}

.max-h-0 {
    max-height: 0;
}
.marquee_container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    gap: 20px;
    padding: 0.2rem 0;
  }
  .marquee {
    display: inline-block;
    animation: marquee 60s linear infinite;
  }
  @keyframes marquee {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }
  h1 {
    display: inline-block;
    margin-right: 50px;
  }